<%- include('partials/header.ejs') %>
 
<div class="container  home ">
    <div class="box ">
        <div class="row  row-1  ">
            <div class="col text-center">
                <h1 class="icon  mb-3"><i class="fa-brands fa-x-twitter"></i><span class="logo"> twitter</span> </h1>
               
            </div>
            </div>
          <div class="row row-2">
            <div class="col text-center  ">
            
                <h5>Hey There</h5>
                <h5>How are you doing today</h5>               
            </div>
        </div>
          <div class="row row-3">
            <div class="col-6 d-flex justify-content-center  ">
            
                 <a href="login" class="btn btn-primary mt-4">login</a>              
            </div>
            <div class="col-4 d-flex justify-content-center"> 
            
               <a href="register"class="btn btn-outline-primary mt-4">register</a>              
            </div>
          </div>
          </div>
    
  
</div>

        <%- include('partials/footer.ejs')%>
