<%- include('../partials/header.ejs') %>
<style>
  .head{
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="col-4 ">
    <div class="card" >
      <img src="https://pub-static.fotor.com/assets/bg/aa4d0804-a2ac-43ea-a7ae-e6b39d0a5d91.jpg" class="card-img-top" alt="..background.img." />
      <div class="card-body">
        <div class="head">
          <div>
            <p>Welcome</p>
          </div>
          <div>
            <p><a href="/profileupdate"><i class="fa-solid fa-pen"></i></a><span class="m-2">edit</span>
            </p>
          </div>
        </div>
        <h2 class="card-title"> hi,<%= user.name %></h2>
      </div>
    </div>
    <div class="mt-3">      
</div>
  </div>
  <!-- <a href="#"><i class="fa-solid fa-pen"></i></a> -->



<%- include('../partials/footer.ejs') %>
